.header_background{
	&__404--rus {
		background-image: url(../image/header/main_header/Background-Header-404-rus.jpg) ;
		background-size:100% 100%;
		background-repeat: no-repeat;
	}
	&__404--eng {
		background-image: url(../image/header/main_header/Background-Header-404-eng.jpg) ;
		background-size:100% 100%;
		background-repeat: no-repeat;
	}
}	
.main_fraction--404{
	background: url(../image/404/Scales-vihicl-img.png) no-repeat;
	background-size: 50%;
	background-position: 35.3vw -4vw;
	background-color: rgba(22, 22, 22, .55);
	.return{
		position: relative;
		display: flex;
		width: 28.073vw;
		height: 4.063vw;
		padding-top: 1.042vw;
		background: url(../image/404/Darking-line.png) no-repeat;
		background-position: 0 1vw;
		&__back{
			width: 12.5vw;
			height: 3vw;
			transform: translateY(0.6vw);
			&:hover .return__icon--arrow{
				cursor: pointer;
				background: url(../image/404/Arrow-Backup-active.png) no-repeat;
				-webkit-background-size: cover;
				background-size: 71%;
				background-position: 0.5vw 0.5vw;
			}
		}
		&__icon{
			width: 2.344vw;
			height: 2.76vw;
			margin-right: 0.885vw;
		}
		&__icon--arrow{
			width: 3.281vw;
			height: 4.063vw;
			transform: translateY(-0.8vw);
			margin: 0;
			background: url(../image/404/Arrow-Backup-no-active.png) no-repeat;
			-webkit-background-size: cover;
			background-size: 50%;
			background-position: 0.9vw 0.9vw;
		}
		&__text{
			margin: 0;
			margin-top: 0.3vw;
			color: #fefefe;
			font-family: 'Exo 2', sans-serif; 	
			font-size: 1.25vw;
			font-weight: 400;
			line-height: 1vw;
			span{
				margin-top: 0;
				color: #f4f3f3;
				font-family: 'Exo 2', sans-serif; 	
				font-size: 0.938vw;
			}
		}
	}
	.main_fraction__wrap{
		position: relative;
		display: flex;
		width: 59.219vw;
		height: 43.146vw;
		padding-top: 1.354vw;
		padding-left: 2.552vw;
		.main_fraction__main_img{
			width: 38.438vw;
			height: 37.188vw;
		}
		.main_fraction__text--h1{
			margin-top: 7vw;
			text-align: center;
			font-family: "Adi_Script";
			font-size: 4.792vw;
			font-weight: 400;
			background-image: -webkit-linear-gradient(bottom left, rgba(139, 139, 139, 1.0), rgba(255, 255, 255, 1.0));;
			background-clip: text;
			-webkit-background-clip: text;
			color: #fff;
			-webkit-text-fill-color: transparent;
		}
		.main_fraction__text--p{
			position: absolute;
			right: 0;
			bottom: 0;
			color: #ea0132;
			font-family: 'Exo 2', sans-serif; 
			font-size: 1.875vw;
			font-weight: 400;
		}
	}
}
.line_gorizontal{
	width: 27.708vw;
	height: 1.51vw;
	margin: 0 auto;
	margin-top: 16.823vw;
	margin-bottom: 3.646vw;
	background: url(../image/404/Decoration-Line-l.png) no-repeat;
	background-size: 100%;
}