.characteristics_list{
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/cooling_time.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}	
	&--blast_radius
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/blast_radius.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--recharge
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/recharge.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--damage
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/damage.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--deployment_time
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/deployment_time.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--queue_length
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/queue_length.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
		&--operating_time
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/operating_time.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--mass
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/mass.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--energy_drain
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/energy_drain.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--durability
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/durability.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--dps
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/dps.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--rollback_time
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/rollback_time.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--power_reputation
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/power_reputation.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--a1
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/1.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--a2
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/2.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--a3
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/3.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--a4
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/4.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--a5
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/5.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
	&--a6
	.characteristics_list__icon{
		background: url(../image/crafting_item/icon/characteristic/6.png) no-repeat;
		background-size: contain;
		background-position: left center;
	}
}

.item_characteristics
.item_characteristics__type{
		&--explosive_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/explosive_damage.png) no-repeat;
			background-size: contain;
		}
		&--bullet_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/bullet_damage.png) no-repeat;
			background-size: contain;
		}
		&--fire_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/fire_damage.png) no-repeat;
			background-size: contain;
		}
		&--contact_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/contact_damage.png) no-repeat;
			background-size: contain;
		}
		&--energy_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/energy_damage.png) no-repeat;
			background-size: contain;
		}
		&--passes_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/passes_damage.png) no-repeat;
			background-size: contain;
		}
		&--resistance_explosive_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/resistance_explosive_damage.png) no-repeat;
			background-size: contain;
		}
		&--resistance_fire_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/resistance_fire_damage.png) no-repeat;
			background-size: contain;
		}
		&--resistance_bullet_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/resistance_bullet_damage.png) no-repeat;
			background-size: contain;
		}
		&--resistance_energy_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/resistance_energy_damage.png) no-repeat;
			background-size: contain;
		}
		&--resistance_contact_damage
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/resistance_contact_damage.png) no-repeat;
			background-size: contain;
		}
		&--reputation
		.item_characteristics__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/type_name/reputation.png) no-repeat;
			background-size: contain;
		}
	}


.item{
	.item_wrap_description{
		.item_description--epic{
			.item_description__name{
				color: #b900ff;
			}
			.item_description__rating{
				color: #b900ff;
			}
			.item_description__rating_value{
				color: #b900ff;
			}
		}
		.item_description--common{
			.item_description__name{
				color: #fff;
			}
			.item_description__rating{
				color: #fff;
			}
			.item_description__rating_value{
				color: #fff;
			}
		}
		.item_description--rare{
			.item_description__name{
				color: #0066cc;
			}
			.item_description__rating{
				color: #0066cc;
			}
			.item_description__rating_value{
				color: #0066cc;
			}
		}
		.item_description--legendary{
			.item_description__name{
				color: #ffa040;
			}
			.item_description__rating{
				color: #ffa040;
			}
			.item_description__rating_value{
				color: #ffa040;
			}
		}
		.item_description--relic{
			.item_description__name{
				color: #ff6600;
			}
			.item_description__rating{
				color: #ff6600;
			}
			.item_description__rating_value{
				color: #ff6600;
			}
		}
	}
}

.fraction_menu__button--ivet{
	width: 5.8vw;
}
.fraction--crafting_item{
	padding: 0;
	padding-left: 3.594vw;
	background-color: rgba(22, 22, 22, .5)
}	
.fraction_content--crafting_item{	
	display: block;
	width: 64.063vw;
	img{
		height: auto;
	}
	.return{
		position: relative;
		display: flex;
		width: 28.073vw;
		height: 4.063vw;
		padding-top: 1.042vw;
		transform: translateX(-3.65vw);
		background: url(../image/403/Darking-line.png) no-repeat;
		background-position: -8vw 1vw;
		background-size: cover;
		z-index: 1;
		&__back{
			width: 17vw;
			height: 3vw;
			padding-top: 0.3vw;
			transform: translateY(0.3vw);
			overflow: hidden;
			&:hover .return__icon--arrow{
				width: 2.135vw;
				height: 3.021vw;
				margin-right: 1.3vw;
				transform: translateY(-1vw) translateX(-0.32vw);
				cursor: pointer;
				background: url(../image/403/Arrow-Backup-active.png) no-repeat;
				background-size: 2.135vw 3.021vw;
			}
		}
		&__icon{
			width: 2.864583333333vw;
			height: 2.604166666667vw;
			transform: translateX(-0.4vw);
		}
		&__wrap_icon{
			transform: translateY(0.9vw) translateX(1vw);
		}
		&__icon--arrow{
			width: 2.135vw;
			height: 3.021vw;
			margin: 0;
			margin-right: 1.3vw;
			transform: translateY(-0.64vw) translateX(0.05vw);
			background: url(../image/403/Arrow-Backup-no-active.png) no-repeat;
			background-size: 1.458vw 2.292vw;	
		}
		&__text{
			margin: 0;
			margin-top: 0.15vw;
			color: #fefefe;
			font-family: 'Exo 2', sans-serif; 	
			font-size: 1.25vw;
			font-weight: 400;
			line-height: 1vw;
			span{
				margin-top: 0;
				color: #f4f3f3;
				font-family: 'Exo 2', sans-serif; 	
				font-size: 0.9375vw;
			}
		}
	}
}

.item{
	display: flex;
	flex-wrap: wrap;
	.item_description{
		width: 21.563vw;
		padding-top: 1.823vw;
		display: flex;
		flex-wrap: wrap;
		&__img{
			img{
				max-width: 2.917vw;
				max-height: 2.917vw;
			}
		}
		&__wrap_name{
		}
		&__name{
			margin-left: 0.573vw;
			color: #ff6600;
			font-family: Myriad Pro Regular;
			font-size: 1.815vw;
			font-weight: 400;
		}
		&__name_description{
			margin-left: 0.573vw;
			margin-top: -0.2vw;
			color: #a9a9a9;
			font-family: 'Exo 2', sans-serif;
			font-size: 0.938vw;
			font-weight: 500;
		}
		&__additional_description{
			width: 21.406vw;
			margin-top: 0.99vw;
			margin-bottom: 0.521vw;
			color: #ffffff;
			font-family: 'Exo 2', sans-serif;
			font-size: 0.938vw;
			font-weight: 300;
		}
		&__rating{
			color: #ff6600;
			font-family: 'Exo 2', sans-serif;
			font-size: 1.094vw;
			font-weight: 500;
		}
		&__rating_value{
			color: #ff6600;
			font-family: 'Exo 2', sans-serif;
			font-size: 1.875vw;
			font-weight: 500;
		}
	}
	.item_characteristics{
		width: 21.563vw;
		display: flex;
		flex-wrap: wrap;
		hr{
			width: 21.563vw;
			height: 1px;
			// -webkit-margin-before: 0em;
			// -webkit-margin-after: 0em;
			margin: 0.45vw 0;
			background-color: #818181;
		}
		&__type{
			height: 2vw;
			display: flex;
			align-items: center;
		}
		&__type_icon{
			width: 1.719vw;
			height: 1.719vw;
			background: url(../image/crafting_item/icon/fire-damage.png) no-repeat;
			background-size: contain;
		}
		&__type_text{
			margin-left: 0.833vw;
			color: #fffefe;
			font-family: 'Exo 2', sans-serif;
			font-size: 0.938vw;
			font-weight: 400;
		}
		.characteristics_list{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 21.563vw;
			display: flex;
			flex-wrap: wrap;
			&__text{
				height: 1.51vw;
				color: #fffefe;
				font-family: 'Exo 2', sans-serif;
				font-size: 0.938vw;
				font-weight: 400;
				line-height: 1.25vw;
			}
			.progress_bar{
				display: flex;
				&__cell{
					width: 1.042vw;
					height: 0.365vw;
					margin-left: 2px;	
					background-color: #727068;
				}
				&__filling{
					width: 100%;
					height: 100%;
					background-color: #fff;
				}
			}
			&__wrap{
				width: 11.4vw;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
			&__icon{
				width: 1.8vw;
				height: 1.563vw;
			}
			&__value{
				color: #fffefe;
				font-family: 'Exo 2', sans-serif;
				font-size: 1.406vw;
				font-weight: 700;
				span{
					font-size: 0.938vw;
					font-weight: 400;
				}
			}
		}
		&__last_line{
			margin-top: 1.198vw;
		}
	}
	.item_peculiarity{
		&__wrap{
			display: flex;
		}
		&__icon{
			width: 1.563vw;
			height: 1.563vw;
			margin-top: 0.781vw;
			background: url(../image/crafting_item/icon/peculiarity.png) no-repeat;
			background-size: cover;
		}
		&__description{
			width: 17.604vw;
			padding-top: 0.469vw;
			padding-left: 0.677vw;
			color: #f9df9a;
			font-family: 'Exo 2', sans-serif;
			font-size: 0.938vw;
			font-weight: 300;
		}
		&__more{
			&:hover{
				color: #f7ab6d;
				cursor: pointer;
				background: url(../image/crafting_item/icon/Arrow-Backup-active-r.png) no-repeat;
				background-position: right center;
				background-size: contain;
			}
			&:active{
				opacity: 0.7;
			}
			width: 11.25vw;
			height: 2.813vw;
			transform: translateX(10.417vw) translateY(0.729vw);
			text-align: left;
			color: #fbc498;
			font-family: Myriad Pro Regular;
			font-size: 1.667vw;
			font-weight: 400;
			line-height: 2.813vw;
			background: url(../image/crafting_item/icon/Arrow-Backup-no-active-r.png) no-repeat;
			background-position: right center;
			background-size: contain;
		}
		&__more--active{
			background: url(../image/crafting_item/icon/Arrow-Backup-no-active.png) no-repeat;
			background-position: right center;
			background-size: contain;
			&:hover{
				background: url(../image/crafting_item/icon/Arrow-Backup-active.png) no-repeat;
				background-position: right center;
				background-size: contain;
			}
		}
	}
	.item_main{
		position: relative;
		width: 37.552vw;
		display: flex;
		flex-wrap: wrap;
		.item_main_prices{
			transform: translateX(2.1vw) translateY(0.1vw);
			hr{
				width: 37.552vw;
				height: 1px;
				// -webkit-margin-before: 0em;
				// -webkit-margin-after: 0em;
				margin: 0.45vw 0;
				background-color: #818181;
			}
			.item_main_prices_text{
				display: flex;
				justify-content: space-around;
				width: 37.552vw;
				color: #ffdba8;
				font-family: "Myriad Pro Regular";
				font-size: 1.25vw;
				font-weight: 400;
				&__popularity{
					transform: translateX(-1.3vw); 
				}
				&__sell{
					transform: translateX(-2.14vw);
				}
				&__buy{
					transform: translateX(-0.15vw);
				}
			}
			.item_main_prices_value{
				display: flex;
				justify-content: flex-start;
				color: #ffffff;
				font-family: "FranckerCYR - Condensed Medium";
				font-size: 1.25vw;
				font-weight: 400;
				line-height: 2.5vw;
				&__popularity{
					width: 13.4vw;
					text-align: center;
					color: #c0feea;
					font-family: "FranckerCYR - Condensed Medium";
					font-size: 1.25vw;
					font-weight: 400;
				}
				&__icon_money{
					display: block;
					width: 1.198vw;
					height: 1.25vw;
					margin-left: 0.313vw;
					transform: translateY(-0.1vw);
				}
				&__sell{
					width: 14.2vw;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #ffffff;
					font-family: "FranckerCYR - Condensed Medium";
					font-size: 1.25vw;
					font-weight: 400;
				}
				&__buy{
					width: 11.3vw;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
		&_img{
			width: 26.51vw;
			height: 23.65vw;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: auto;
				height: auto;
				max-width: 23vw;
				max-height: 23vw
			}
		}
		.Line_decoration_table{
			position: absolute;
			top: 16vw;
			right: -5.7vw;
			transform: rotate(90deg);
		}
		&_component_wrap{
			position: absolute;
			top: 7vw;
			right: -4vw;
			width: 11vw;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			color: #f70426;
			font-family: "Exo 2.0";
			font-size: 1.042vw;
			font-weight: 400;
		}
		&__impact{
			width: 2.135vw;
			height: 2.135vw;
			margin-right: 0.625vw;
		}
		&__impact_text{
			width: 7vw;
			font-family: 'Exo 2', sans-serif;
		}
		&_component{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			&__text{
				margin: 0;
				margin-top: 1.2vw;
				color: #ffdba8;
				font-family: "FranckerCYR - Condensed Medium";
				font-size: 1.042vw;
				font-weight: 400;
			}
			&__img{
				width: 11vw;	
				img{
					width: auto;
					height: auto;
					max-width: 8vw;
					max-height: 8vw;
					transform: translateX(2vw);
				}
			}
		}	
		&_characteristics{
			visibility: hidden;
			padding-left: 4vw;
			.characteristics_list{
				padding-left: 1vw;
				&__wrap{
					width: 10vw;
				}
				&__icon{
					width: 1.5vw;
					height: 1.5vw;
					margin-right: 0.677vw;
				}
			}
		}
	}
}

.fraction_content--crafting_item .Line_decoration_table{
	width: 27.708vw;
	margin: 0 auto;
	margin-top: 5.938vw;
	margin-bottom: 4.896vw;
}