.fraction_menu__button--ivet{
	width: 5.8vw;
}
.crafting_definition{
	width: 100%;
	padding-top: 0.781vw;
	padding-left: 0.833vw;
	font-family: 'Exo 2', sans-serif;
	&__title{
		margin-bottom: 1.042vw;
		color: #f0972c; 
		font-size: 1.25vw; 
		font-weight: 300; 
		font-family: 'Exo 2', sans-serif;
	}
	&__text{
		position: relative;
		margin-bottom: 1.042vw;
		color: #bebdbd; 
		font-size: 1.25vw; 
		font-weight: 300; 
		font-family: 'Exo 2', sans-serif;
		line-height: 0.833vw;
	}
	&__text_icon{
		position: relative;
		margin-bottom: 1.042vw;
		padding-left: 1.823vw;
		color: #bebdbd; 
		font-size: 1.25vw; 
		font-weight: 300; 
		font-family: 'Exo 2', sans-serif;
		line-height: 0.833vw;
	}
	&__text--last{
		margin-bottom: 0;
	}
	&__icon--money_mini_gold{
		position: absolute;
		left: 0.1vw;
    top: -0.1vw;
		width: 1.458vw;
		height: 1.458vw;
		background: url(../image/crafting/table_ico/icon-money-mini-gold.png) no-repeat;
		background-size: 100% 100%;
	}
	&__icon--money_mini_red{
		position: absolute;
    left: 0.1vw;
    top: -0.1vw;
		width: 1.458vw;
		height: 1.458vw;
		background: url(../image/crafting/table_ico/icon-money-mini-red.png) no-repeat;
		background-size: 100% 100%;
	}
	&__icon--box-mini{
		position: absolute;
    left: -0.1vw;
    top: -0.3vw;
		width: 1.823vw;
		height: 1.823vw;
		background: url(../image/crafting/table_ico/icon-box-mini.png) no-repeat;
		background-size: 100% 100%;
	}
	&__span--blue{
		color: #c3cdfb;
		font-size: 1.042vw;
		font-weight: 300;
	}
	&__span--orange{
		color: #fbc498;
		font-size: 1.042vw;
		font-weight: 300;
	}
	&__span--popularity{
		margin-bottom: 0;
		padding-right: 3.073vw;
		color: #d8c78a;
		font-size: 0.833vw;
		font-weight: 400;
		line-height: 1.771vw;
	}
}
.fraction--crafting{
	background-color: rgba(22, 22, 22, .5)
}
.fraction_table__thead--crafting{
	tr{
		width: 64.063vw;
		justify-content: flex-start;
	}
	.fraction_thead{
		width: auto;
	}
	.fraction_table__a{
		button{
			width: 0.833vw;
    	height: 0.521vw;
    	//width: 1.146vw;
    	// height: 0.833vw;
			padding: 0;
		}
		p{
			padding: 0;
		}
		&--name p{
			width: 6.51vw;
			margin-left: 0.781vw;
			margin-right: 4.271vw;
		}
		&--buy p{
			width: 3.542vw;
			margin-left: 6.615vw;
			margin-right: 0.469vw;
		}
		&--sale1 p{
			width: 3.802vw;
			margin-left: 3.438vw;
			margin-right: 0.365vw;
		}
		&--price1 p{
			width: 6.615vw;
			margin-left: 1.51vw;
			margin-right: 0.625vw;
			color: #c3cdfb;
		}
		&--sale2 p{
			width: 3.854vw;
			margin-left: 0.677vw;
			margin-right: 0.365vw;
			color: #c3cdfb;
		}
		&--price2 p{
			width: 6.615vw;
			margin-left: 1.146vw;
			margin-right: 0.625vw;
			color: #fbc498;
		}
		&--sale3 p{
			width: 3.854vw;
			margin-left: 0.625vw;
			margin-right: 0.417vw;
			color: #fbc498;
		}
	}
}
.fraction_table--crafting {
	position: relative;
  width: 100%;
  border-spacing: 0 0.521vw;
  .bg_table{
  	position: absolute;
  	bottom: 0;
  }
}
.fraction_content--crafting{
	width: 64.063vw;
}
.fraction_content--crafting .fraction_table__item{
	position: relative;
	width: 64.063vw;
	td{
		justify-content: flex-end;
		font-size: 0.833vw;
	}
	.buy{
		width: 10vw;
	}
	.name{
		width: 6vw;
	}
	.sale1{
		width: 9vw;
	}
	.price1{
		width: 11vw;
	}
	.price2{
		width: 8.698vw;
		text-align: center;
	}
	.sale3{
		margin-right: 2vw;
	}
	.td_name{
		width: 23vw;
	}
	.td_name .foto_tovara{
		position: absolute;
		top: 0;
		left: 0;
		top: 0;
		width: 3.75vw;
		height: 3.64vw;
		max-width: none;
		max-height: none;
	}
	.td_name_text__wrap{
		display: flex;
		font-weight: 300;
		line-height: 1.667vw;
		.descripton_color{
			padding-right: 0.208vw;
			font-size: 1.042vw;
		}
		.td_name_text__popularity{
			color: #d8c78a;
			font-size: 0.833vw;
		}
	}
	.td_name_text{
		margin-left: 4.792vw;
		font-size: 1.094vw;
		font-weight: 500;
		img{
			width: 1.823vw;
			height: 1.823vw;
			margin-right: 0.208vw;
		}
		.td_name_text__icon_money{
			margin-top: 0.2vw;
			width: 1.458vw;
			height: 1.458vw;
		}
	}
	.sale1__text{
		color: #c3cdfb;
	}
	.price1__text{
		color: #c3cdfb;
	}
	.price2__text{
		color: #fbc498;
	}
	.sale3__text{
		color: #fbc498;
	}
}
.fraction_content--crafting .Line_decoration_table{
	width: 27.708vw;
	margin: 0 auto;
	margin-top: 5.938vw;
	margin-bottom: 4.896vw;
}