.item.item--decor{
	.item_description{
		&__name{
			color: #9900d4;
		}
		&__rating{
			color: #9900d4;
		}
		&__rating_value{
			color: #9900d4;
		}
	}
	.item_characteristics{
		&__last_line{
			margin-top: 3vw;
		}
		.characteristics_list{
			&__icon{
				height: 1.25vw;
			}
		}
	}
	.item_main{
		&_img{
			position: relative;
			transform: translateX(3vw) translateY(-2vw);
		}
		&_beep{
			position: absolute;
			bottom: 0;
			left: 11vw;
			&:hover{
				cursor: pointer;
				background: url(../image/crafting_item/icon/music_on.png) no-repeat;
				background-size: contain;
			}
			&:active{
				opacity: 0.7;
			}
			width: 4.948vw;
			height: 4.583vw;
			background: url(../image/crafting_item/icon/music_off.png) no-repeat;
			background-size: contain;
		}
	}
}